#root {
    max-width: 100%;
    background-color: hsl(240,60%,10%);
    text-align: center;
}
.body {
    
}
.logo {
  height: 6em;

  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {

}

.read-the-docs {
  color: #888;
}

.container {
    max-width:100%;
}
.song-table-container {
    height: 75vh;
    overflow-y: auto;

    
}



.song-table tbody {
    width: 100%;
    text-align:left !important;
  
}
.song-table thead {
    max-height: 70vh;
    width: 100%;
    text-align: left !important;

}
.song-table tbody tr td{
    height:40px !important;
}
.player-card {
    padding: 10px 7px 2px 15px;
    background-image: radial-gradient(circle, hsl(240,30%,20%) , hsl(240,50%,60%) );
    min-height: 10vh;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom:5px;
}
.volume-bar{
    margin-top:30px;
}


/*


.song-table {
    width: 100%;
    border-collapse: collapse;
    align-content: flex-start;
}

    .song-table th,
    .song-table td {
        padding: 2px;
    }

song-table td :hover {
    background-color: cadetblue;
    color: darkseagreen;
}

.song-table th {
    background-color: black !important;
    color: white;
    position: sticky;
    top: 0;
}

.song-table tbody {
    overflow-y: scroll;
    height: 500px;
    
}

/*
.container {
    position:fixed;
    top: 50px;
    left: 1px;
    right:1px;
    width: 100%;
    margin-top: 2px;
    display:block;
}  
 


.body {
    margin: 0;
    padding: 0;
    overflow: hidden; 

    background: navy !important;
}

.search-and-filter-wrapper{
    position: fixed;
    width: 100%;
    color: white;
    padding: 1px;
    top:20px
    
    
}

.player-main {
    margin-top: 50px;
    padding: 2px;
    gap: 10px;
}


.song-table-container {
    position:fixed;
    top:140px;
    height: 70vh; 
    overflow-y: auto;
    margin-right: 4px;
    width: 100%;
    background: rgb(30,30,60);
    color: white;
    text-align:left;
}

.song-table {
    width: 100%;
    border-collapse: collapse;
    align-content: flex-start;
}

    .song-table th,
    .song-table td {
        padding: 2px;
    }

song-table td :hover {
    background-color: cadetblue;
    color: darkseagreen;
}

.song-table th {
    background-color: black !important;
    color: white;
    position: sticky;
    top: 0;
   
}


.musicplayer{

    margin-top:600px;
}
*/